export(angle2pixels)
export(classify.V)
export(classify.VA)
export(classify.VI)
export(distance2point)
export(event_ids)
export(find_peak_ranges)
export(find_peaks)
export(local_maxima)
export(pva)
export(subtendedAngle)
export(voronoi_polygons)
export(voronoi_skewness)
exportClasses(classify)
exportClasses(mould)
exportClasses(pva)
exportClasses(voronoi_skewness)
exportMethods(as.data.frame)
exportMethods(getFixations)
exportMethods(mouldThreshold)
exportMethods(plot)
import(Rmisc)
import(deldir)
import(ggplot2)
import(maptools)
import(modeest)
import(plyr)
import(reshape)
import(rgeos)
import(signal)
import(sp)
import(zoo)
importClassesFrom(sp,SpatialPolygonsDataFrame)
