export(angle2pixels)
export(bbox)
export(bcea)
export(chull_area)
export(classify.V)
export(classify.VA)
export(classify.VI)
export(coverage)
export(distance2point)
export(event_ids)
export(extent)
export(find_peak_ranges)
export(find_peaks)
export(geom_bbox)
export(geom_chull)
export(geom_coverage)
export(geom_gridded_rois)
export(geom_voronoi)
export(gridded_rois)
export(local_maxima)
export(nni)
export(pva)
export(scale_x_gridded_rois)
export(scale_y_gridded_rois)
export(subtendedAngle)
export(voronoi_polygons)
export(voronoi_skewness)
exportClasses(classify)
exportClasses(coverage)
exportClasses(gridded_rois)
exportClasses(mould)
exportClasses(pva)
exportClasses(voronoi_skewness)
exportMethods(as.data.frame)
exportMethods(getFixations)
exportMethods(mouldThreshold)
exportMethods(plot)
import(Rmisc)
import(deldir)
import(ggplot2)
import(maptools)
import(methods)
import(modeest)
import(plyr)
import(reshape)
import(rgeos)
import(signal)
import(sp)
import(spatstat)
import(zoo)
importClassesFrom(sp,SpatialPolygonsDataFrame)
