S3method(as.data.frame,classify)
S3method(as.data.frame,pva)
export(as)
export(classify.MM)
export(classify.V)
export(classify.VA)
export(classify.VI)
export(detect_blinks.PV)
export(detect_blinks.SW)
export(distance_2_point)
export(event_ids)
export(filter.saccades)
export(find_peak_ranges)
export(find_peaks)
export(getFixations)
export(getSaccades)
export(local_maxima)
export(mouldThreshold)
export(pva)
export(subtended_angle)
exportClasses(classify)
exportClasses(mould)
exportClasses(pva)
exportMethods(plot)
import(ggplot2)
importFrom(Rmisc,rsi)
importFrom(depmixS4,fit)
importFrom(depmixS4,mix)
importFrom(graphics,plot)
importFrom(methods,as)
importFrom(methods,setClass)
importFrom(methods,setMethod)
importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(reshape2,melt)
importFrom(signal,sgolayfilt)
importFrom(stats,as.formula)
importFrom(zoo,na.approx)
